<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<appSettings>
  <add key="puerto" value="COM3"/>
  <add key="tiempoApertura" value="2"/>
  <add key="relayUnoActivado" value="true"/>
  <add key="relayDosActivado" value="false"/>
  <add key="teclaTimbre" value="F11" />
</appSettings>
</configuration>
